 li{
    display: inline-block;
  }
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .navbar a:hover {
    background-color: rgb(14, 15, 85);
  }

  .navbar {
    width: 100%;
    background-color: rgb(2,10,36);
    overflow: auto;
  }


body{
  margin:0px;
}


#change_password{
  width: 28%;
  margin-left: 32%;
  background-color: white;
  border-radius: 10px;
  margin-top: 5%;
  padding: 4%;
  padding-left: 5%;
  padding-top: 2%;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
body{
  background-image: url("regpage.jpg");
  background-color: blue;
}

::placeholder{
  font-weight: ;
  color: #A8A8A8;

}

input {
  width: 90%;
  padding: 15px 0px;
  margin: 8px 0;
  border-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #EEEEEE;
  font-size: 20px;
  margin-bottom: 5%;
  font-family:sans-serif;
  
}
