body
{
  background-repeat: no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
}

.log
{
	top: 15%;
	position: absolute;
	left: 35%;
	margin: auto;
	width: 30%;
	height: 65%;
	background-color: #ffebe6;
	background-image: linear-gradient(white,#ffebe6);
	border-radius: 10px;
}

input[type=text]{
	  width: 100%;
	  padding: 12px 20px;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
}

input[type=submit]
{
	 width: 30%;
	  padding: 12px 20px;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	  margin-left: 35%;
	  margin-top : 5%;
}

h2{
	font-family: sans-serif;
}
