<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="change_password.css">
</head>
<body>
	<div class="navbar">
	  <li><a href="#"><i class="fa fa-arrow-left" area-hidden = "true" style="margin-right: 10px;"></i>Back</a></li>	
	  <li><a class="active" href="#"><i class="fa fa-fw fa-home"></i> Student Portal</a> </li>
	  
	  <li style="float:right; margin-right: 20px; "><a href="#"><i class="fa fa-fw fa-user"></i> Logout</a></li>
	  <li style="float: right;"><a href="#"><i class="fa fa-address-card-o"></i> New Account</a> </li>
	  
	</div>

	<div id="change_password">

		<h1 style="font-family: 'Open Sans', sans-serif; margin-left: 10%;">Change Password</h1>
		<br>
		<form name="change_pwd" action="">

		<div>
      		
		        <input type="text " placeholder="Enter Current Password" name="old_psw" 
		        onblur="return validateSignUp('old_psw')"  required >
		    

		    
	        	

	        <br>
	        <span style="color: red; font-size: 70%" id='old_psw'></span>

        </div>

        <div>
      
	        <input type="text" placeholder="Enter New Password" name="psw1" 
	        onblur="return validateSignUp('psw1')"  required>
	        <br>
	        <span style="color: red; font-size: 70%" id='psw1'></span>

        </div>

        <div>
      
	        <input type="text" placeholder="Re-enter New Password" name="psw2" 
	        onblur="return validateSignUp('psw2')"  required>
	        <br>
	        <span style="color: red; font-size: 70%" id='psw2'></span>

        </div>

   
			
		</form>
	</div>


<script src = "change_password.js"></script>
</body>
</html>