<!DOCTYPE html>
<html>
<head>

	<title>Login Page</title>

	<link rel="stylesheet" type="text/css" href="login.css">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,800,900" rel="stylesheet">

</head>
<body>

<div class="log" style="padding: 1%;">
	<h1 style="text-align: center; font-family: 'Work Sans', sans-serif; font-weight: 900; color: #491E55;"> LOGIN PAGE</h1>

	<h2 style="font-family: 'Work Sans', sans-serif; font-weight: 700; font-size: 18px">User-Id</h2>
	<input type="text" name="user_id"placeholder="">
	
	<h2 style="font-family: 'Work Sans', sans-serif; font-weight: 700;font-size: 18px">Password</h2>
	<input type="text" name="pwd" placeholder="">

	<input type="submit"; name="SUBMIT"; color: #491e55"; style="font-family: 'Work Sans', sans-serif; font-weight: 700">
	</div>

</body>
</html>