<!DOCTYPE html>
<html>
<head>
	<title>Student Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="student_profile.css">
</head>
<body>

	<div class="navbar">
	  <li><a href="#"><i class="fa fa-arrow-left" area-hidden = "true" style="margin-right: 10px;"></i>Back</a></li>	
	  <li><a class="active" href="#"><i class="fa fa-fw fa-home"></i> Student Portal</a> </li>
	  
	  <li style="float:right; margin-right: 20px; "><a href="#"><i class="fa fa-fw fa-user"></i> Logout</a></li>
	  <li style="float: right;"><a href="#"><i class="fa fa-address-card-o"></i> New Account</a> </li>
	  <li style="float: right;"><a href="#"><i class="fa fa-lock "></i> Change Password</a> </li>

	</div>

	<div class="student">
		
		<h1 style="text-align: center; ">Student Profile</h1>
		<br>
		<div class="flex_container">
			<div class="basic" style="width: 65%">
				<span class="span_right">Name:</span><span>Shubhankar Raj Agarwal</span>
				<br> 
				<br>

				<div class="flex_container">
					<div>
						<span>Age:</span> <span>20</span>
						<br>
						<br>
						<span>DOB:</span><span>02/07/1998</span>
					</div>

					<div>
						<span>Gender:</span> <span>Female</span>
						<br>
						<br>	
						<span>Category:</span><span>General</span>
					</div>
					
				</div>
			</div>

			<div class="image">
				<img src="eiffel.jpg" style="object-fit: contain; width: 100%;height: auto;" >
			</div>

		</div>
		<h1 style="display: block; text-align: center;">Academic Details</h1>

		<div class="flex_container">
			<div style="width: 60%">
				<span>Roll No:</span><span>16IT8055</span>
				<br>
				<br>
				
				<span>Department:</span> <span>Information Technology</span>
			</div>

			<div style="width: 35%;">
				<span>Graduation Year:</span> <span>2020</span>
				<br>
				<br>	
				<span>Category:</span><span>General</span>
			</div>
					
		</div>

	</div>


</body>
</html>